<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="resources grid grid-2col">
              {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}
              <div class="resource flex-group-center">
                  <label for="data.wounds.value" class="resource-label">Wounds</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.wounds.value" value="{{data.wounds.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.wounds.max" value="{{data.wounds.max}}" data-dtype="Number"/>
                  </div>
              </div>
              <div class="resource flex-group-center">
                  <label for="data.fatigue.value" class="resource-label">Fatigue</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.fatigue.value" value="{{data.fatigue.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.fatigue.max" value="{{data.fatigue.max}}" data-dtype="Number"/>
                  </div>
              </div>
          </div>
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities grid grid-9col">
            {{#each data.characteristics as |ability key|}}
              <div class="ability flexcol flex-group-center">
                <label for="data.characteristics.{{key}}.value" class="resource-label">{{key}}</label>
                <label for="data.characteristics.{{key}}.bonus" class="bonus-label">{{bonus}}</label>
                <input type="text" name="data.characteristics.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              </div>
            {{/each}}
          </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="stats">Stats</a>
        <a class="item" data-tab="background">Background</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <ol class="skill-list">
                <li class="skill flexrow skill-header">
                    <div class="skill-name">Name</div>
                    <div class="skill-basic">Basic</div>
                    <div class="skill-level">Trained</div>
                    <div class="skill-level">+10%</div>
                    <div class="skill-level">+20%</div>
                </li>
                {{#each data.skills as |skill id|}} {{#if skill.GroupSkill}}
                <li class="skill flexrow skill-header">
                    <h4 class="skill-name">{{id}}</h4>
                </li>
                    {{#each skill.skills as |subskill subid|}}
                    <li class="skill flexrow skill-header">
                        <h4 class="skill-name">{{subid}} ({{subskill.characteristic}})</h4>
                        <input type="checkbox" name="data.skills.{{id}}.skills.{{subid}}.isBasic" data-dtype="Boolean" {{checked subskill.isBasic}} disabled>
                        <input type="checkbox" name="data.skills.{{id}}.skills.{{subid}}.trained" data-dtype="Boolean" {{checked subskill.trained}}>
                        <input type="checkbox" name="data.skills.{{id}}.skills.{{subid}}.plusTen" data-dtype="Boolean" {{checked subskill.plusTen}}>
                        <input type="checkbox" name="data.skills.{{id}}.skills.{{subid}}.plusTwenty" data-dtype="Boolean" {{checked subskill.plusTwenty}}>
                    </li>
                    {{/each}}
                    {{else}}
                    <li class="skill flexrow skill-header">
                        <h4 class="skill-name">{{id}} ({{skill.characteristic}})</h4>
                        <input type="checkbox" name="data.skills.{{id}}.isBasic" data-dtype="Boolean" {{checked skill.isBasic}} disabled>
                        <input type="checkbox" name="data.skills.{{id}}.trained" data-dtype="Boolean" {{checked skill.trained}}>
                        <input type="checkbox" name="data.skills.{{id}}.plusTen" data-dtype="Boolean" {{checked skill.plusTen}}>
                        <input type="checkbox" name="data.skills.{{id}}.plusTwenty" data-dtype="Boolean" {{checked skill.plusTwenty}}>
                    </li>
              {{/if}} {{/each}}
            </ol>
        </div>


        {{!-- Stats Tab --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            <div class="stats grid grid-2col">
                <div class="insanity flex-group-center">
                    <label for="data.insanity.points" class="resource-label">Insanity</label>
                    <input type="text" name="data.insanity.points" value="{{data.insanity.points}}" data-dtype="Number"/>
                    <label for="data.insanity.battleFatigue" class="resource-label">Battle Fatigue</label>
                    <input type="text" name="data.insanity.battleFatigue" value="{{data.insanity.battleFatigue}}"/>
                    <label for="data.insanity.primarchsCurse" class="resource-label">Primarch's Curse</label>
                    <input type="text" name="data.insanity.primarchsCurse" value="{{data.insanity.primarchsCurse}}"/>
                </div>
                <div class="movement flex-group-left">
                    <label for="data.movement.half" class="resource-label">Half Movement</label>
                    <input type="text" name="data.movement.half" value="{{data.movement.half}}" data-dtype="Number"/>
                    <label for="data.movement.full" class="resource-label">Full Movement</label>
                    <input type="text" name="data.movement.full" value="{{data.movement.full}}" data-dtype="Number"/>
                    <label for="data.movement.charge" class="resource-label">Charge</label>
                    <input type="text" name="data.movement.charge" value="{{data.movement.charge}}" data-dtype="Number"/>
                    <label for="data.movement.run" class="resource-label">Run</label>
                    <input type="text" name="data.movement.run" value="{{data.movement.run}}" data-dtype="Number"/>
                </div>
                <div class="fate flex-group-left">
                    <label for="data.fate.value" class="resource-label">Fate Points</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.fate.value" value="{{data.fate.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.fate.max" value="{{data.fate.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="corruption flex-group-left">
                    <label for="data.corruption" class="resource-label">Corruption</label>
                    <input type="text" name="data.corruption" value="{{data.corruption}}" data-dtype="Number"/>
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab background" data-group="primary" data-tab="background">
            <div class="stats grid grid-2col">
                <div class="chapter flex-group-center">
                    <label for="data.chapter" class="resource-label">Chapter</label>
                    <input type="text" name="data.chapter" value="{{data.chapter}}"/>
                    <label for="data.chapterDemeanour" class="resource-label">Chapter Demeanour</label>
                    <input type="text" name="data.chapterDemeanour" value="{{data.chapterDemeanour}}"/>
                </div>
                <div class="personal flex-group-left">
                    <label for="data.pastEvent" class="resource-label">Past Event</label>
                    <input type="text" name="data.pastEvent" value="{{data.pastEvent}}"/>
                    <label for="data.personalDemeanour" class="resource-label">Personal Demeanour</label>
                    <input type="text" name="data.personalDemeanour" value="{{data.personalDemeanour}}"/>
                </div>
                <div class="speciality flex-group-left">
                    <label for="data.speciality" class="resource-label">Speciality</label>
                    <input type="text" name="data.speciality" value="{{data.speciality}}"/>
                </div>
                <div class="rank flex-group-left">
                    <label for="data.rank" class="resource-label">Rank</label>
                    <input type="text" name="data.rank" value="{{data.rank}}" data-dtype="Number"/>
                </div>
                <div class="powerArmourHistory flex-group-left">
                    <label for="data.powerArmourHistory" class="resource-label">PowerArmour History</label>
                    <input type="text" name="data.powerArmourHistory" value="{{data.powerArmourHistory}}"/>
                </div>
                <div class="description flex-group-left">
                    <label for="data.description" class="resource-label">Description</label>
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </div>

        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

    </section>
</form>

